@model IEnumerable<App.Entity.Habitacion>

<div class="modal fade" id="modal-habitaciones" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body">
                <table class="table table-fixed">
                    <thead class="th-bg-black">
                        <tr>
                            <th class="col-sm-3">
                                @Html.DisplayNameFor(model => model.TipoHabitacion.Descripcion)
                            </th>
                            <th class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Numero)
                            </th>
                            <th class="col-sm-3">
                                @Html.DisplayNameFor(model => model.Disponible)
                            </th>
                            <th class="col-sm-3">
                                Seleccionar
                            </th>

                        </tr>
                    </thead>
                    
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="row row-table">
                                <td class="col-sm-3">
                                    @Html.DisplayFor(modelItem => item.TipoHabitacion.Descripcion)
                                </td>
                                <td class="col-sm-3">
                                    @Html.DisplayFor(modelItem => item.Numero)
                                </td>
                                <td class="col-sm-3">
                                    @if (item.Disponible)
                                    {
                                        <button class="btn btn-success">Disponible</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-danger">Ocupado</button>
                                    }
                                </td>
                                <td class="col-sm-3">
                                    @if (item.Disponible)
                                    {
                                        <input type="radio" value="@item.IdHabitacion" data-hab="@item.Numero" name="hab-seleccionada" />
                                    }
                                    else
                                    {
                                        <input type="radio" value="@item.IdHabitacion" data-hab="@item.Numero" name="hab-seleccionada" disabled />
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

    (function () {

       $('input[name="hab-seleccionada"]').on('change', function () {
           var numHab = $(this).attr('data-hab');

           if (numHab) {
               $('input#Habitacion_Numero').val(numHab);
               $('#IdHabitacion').val($(this).val());
           } else {
               $('input#Habitacion_Numero').val('');
               $('#IdHabitacion').val('');
           }
        });

    })();

</script>

