@model IEnumerable<App.Entity.Habitacion>

<div class="modal fade" id="modal-habitaciones" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div style="text-align:center; margin-bottom:20px;">
                    <h1>
                        <span class="label label-default" style="background-color:black;">Verificar Disponibilidad</span>
                    </h1>
                </div>
            </div>
            <div class="modal-body">
                <table class="table table-fixed">
                    <thead class="th-bg-black">
                        <tr>
                            <th class="col-sm-3">
                                @Html.DisplayNameFor(model => model.TipoHabitacion.Descripcion)
                            </th>
                            <th class="col-sm-3">
                                N° de Hab.
                            </th>
                            <th class="col-sm-3">
                                Estado
                            </th>
                            <th class="col-sm-3">
                                Seleccionar
                            </th>

                        </tr>
                    </thead>
                    
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="row row-table">
                                <td class="col-sm-3">
                                    @Html.DisplayFor(modelItem => item.TipoHabitacion.Descripcion)
                                </td>
                                <td class="col-sm-3">
                                    @Html.DisplayFor(modelItem => item.Numero)
                                </td>
                                <td class="col-sm-3">
                                    @if (item.Disponible)
                                    {
                                        <button class="btn btn-success">Disponible</button>
                                    }
                                    else
                                    {
                                        <button class="btn btn-danger">Ocupado</button>
                                    }
                                </td>
                                <td class="col-sm-3">
                                    @if (item.Disponible)
                                    {
                                        <input type="checkbox" value="@item.IdHabitacion" data-hab="@item.Numero" name="hab-seleccionada" />
                                    }
                                    else
                                    {
                                        <input type="checkbox" value="@item.IdHabitacion" data-hab="@item.Numero" name="hab-seleccionada" disabled />
                                    }
                                </td>

                            </tr>
                        }
                    </tbody>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="apply-hab"  style="background-color:black; border-color:black;">Aceptar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

    (function () {

        $('#apply-hab').click(function () {

            var SELECTED_HAB = [];

            $("input:checkbox[name=hab-seleccionada]:checked").each(function () {

                var idHab = $(this).val();
                var numHab = $(this).attr('data-hab');

                SELECTED_HAB.push({ id: idHab, num: numHab });

            });

            appendHabs(SELECTED_HAB);

        });

        function appendHabs(SELECTED_HAB) {

            $('#selected-hab').empty();

            $.each(SELECTED_HAB, function () {

                var html = '<span style="margin-right: 5px;">'
                html += '<button class="btn btn-primary" type="button">';
                html += '<span class="badge">' + this.num + '</span>';
                html += '<span style="margin-left:7px;" onclick="$(this).parent().parent().remove();"> X</span>';
                html += '</button>';
                html += '<input type="hidden" name="Habitaciones" value="' + this.id + '" />';
                html += '</span>';

                $('#selected-hab').append(html);

            });

        }

        /*
       $('input[name="hab-seleccionada"]').on('change', function () {
           var numHab = $(this).attr('data-hab');

           console.log(numHab);

           if (numHab) {
               $('input#Habitacion_Numero').val(numHab);
               $('#IdHabitacion').val($(this).val());
           } else {
               $('input#Habitacion_Numero').val('');
               $('#IdHabitacion').val('');
           }
        });*/

    })();

</script>

